<h1>
  {{ title }}
</h1>
<p>
  {{ body }}
</p>

<hr>
<div>
  <h2 class="text-error">Home: {{ message }}</h2>
  <form class="form-inline">
    <input type="text" [(ngModel)]="message" placeholder="Message">
    <button type="submit" class="btn" (click)="updateMessage(message)">Update Message</button>

  </form>
</div>

    <h1>My First Angular 2 App</h1>
    <div layout="row">
      <div style="background-color:blue" flex="20">20%</div>
      <div style="background-color:red" flex="50">50%</div>
      <div style="background-color:green" flex="10">10%</div>
    </div>
<div layout="row">
<div style="padding: 5px" *ngFor="let dropbox of dropboxes" flex="20"><img width="300" height="240" src={{dropbox.imageUrl}}></div>
</div>