#header {
    margin-top: 50px;
    margin-left: 150px;
}

#header h1#logo a {
  background: url(../images/WA_logo_text.gif) no-repeat top left;
  width: 194px;
  height: 200px;
  /*margin: 8px;*/
  display: block;
  /*text-indent: -9999px;*/
}

#header .color {
  display: block;
  height: 4px;
  position: absolute;
  top: 100%;
  width: 100%;
}

.first, .next {
   float: left;
   padding: 10px;
}

.next {
    padding: 10px;
}

#mainNav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;   
}

#mainNav ul .router-link-active {
  color: #C83434;
}

.navbg {
    background: rgba(0, 0, 0, 0.5);
    height: 43px;
    position: absolute;
    top: 98px;
    width: 46%;
    z-index: 100;
    right: 0;
}
