<header id="header">
  <h1 id="logo">
    <a routerLink="/home"></a>
  </h1>
	<div class="navbg">		
		<div id="mainNav" class="clearfix">
			<ul>
        <a class="first" routerLink="/home" >Home</a>
        <a class="next" routerLink="/about" >Us</a>
        <a class="next" routerLink="/projects" >Projects</a>
        <a class="next" routerLink="/contact" >Contact</a>

   

			</ul>
    </div>
  </div>
<router-outlet></router-outlet>
</header>

<!-- <section>
  <router-outlet></router-outlet>
</section> -->