<header id="header">
	<div class="navbg">		
		<div id="mainNav" class="clearfix">
			<ul>
        <a class="first" [routerLink]="['/home']" >Home</a>
        <a class="next" [routerLink]="['/about']" >Us</a>
        <a class="next" [routerLink]="['/projects']" >Projects</a>
        <a class="next" [routerLink]="['/contact']" >Contact</a>
			</ul>
    </div>
  </div>
  <h1 id="logo">
    <a [routerLink]="['/Home']"></a>
  </h1>
		<!--<a href="#slideNav" class="menuToggle"></a>-->
</header>
<div id="footer"></div>

<section id="section">
  <router-outlet></router-outlet>
</section>