#header h3 {
    border-bottom: solid lightgray 1px;
    font-size: 35px;
    color:#1f1f1f;
    margin-bottom: 50px;
    line-height: .7em;
    padding: 40px 0 20px 0;
}

#row {
    background-color: rgba(0, 0, 0, 0.5);
}